.ib {
    display: inline-block;
    padding: 10px;
    width: 100%;
}

#jitsiCafeHeader {
    width: 100%;
    height: 30px;
    background-color: black;
}

.settings {
    position: relative;
    background-color: black;
    width: 100%;
    font-size: medium;
}

.settings>p {
    margin: 10px;
}

.jitsiCafeMenuButton {
    float: left;
    color: white;
    margin-left: 0;
}

.menuItem {
    padding-left: 10px;
}

.tutorialLink {
    margin-top: 3px;
    margin-right: 5px;
    font-size: 17px;
    float: left;
}

.drag {
    cursor: grab;
    width: 100%;
    height: 100%;
}

.mobileMove {
    z-index: 250;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 45;
    bottom: 15;
    pointer-events: all;
    background-color: rgba(100, 100, 100, 10);
}

.mobileZoom {
    z-index: 250;
    width: 30px;
    height: 150px;
    position: absolute;
    right: 15;
    bottom: 15;
    pointer-events: all;
    background-color: rgba(200, 200, 200, 10);
}