.hide {
    display: none;
}

.user,
.userAvatar {
    background-color: transparent !important;
}

#dominantSpeaker {
    visibility: hidden !important;
}

.windowDiv {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

#jitsiCafeMap {
    width: 100%;
    pointer-events: none;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
}

.roomInfoWrapper {
    position: absolute;
    top: 70px;
    left: 50%;
}

.roomInfo {
    position: relative;
    left: -50%;
}